@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  line-height: 1.7;
}

main {
  height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto-mono);
  margin: 0 0 0.5rem 0;
  color: rgb(var(--black));
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
}
a:hover {
  color: var(--accent);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

/* width */
::-webkit-scrollbar {
  @apply w-1.5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-slate-300/80 rounded-lg max-h-96;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-100/80;
}

.slideIn {
  transform: translateX(200%);
  animation: slideIn 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.slideIn .delay-50 {
  animation-delay: 0.05s;
}
.slideIn .delay-100 {
  animation-delay: 0.1s;
}
.slideIn .delay-200 {
  animation-delay: 0.2s;
}
.slideIn .delay-300 {
  animation-delay: 0.3s;
}
.slideIn .delay-500 {
  animation-delay: 0.5s;
}
.slideIn .delay-800 {
  animation-delay: 0.8s;
}
.slideIn .delay-1000 {
  animation-delay: 1s;
}
.slideIn .delay-1300 {
  animation-delay: 1.3s;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.link {
  @apply relative w-max whitespace-nowrap text-base-content/95 hover:text-base-content/80 font-medium no-underline cursor-pointer;
}

.link::before {
  content: "";
  transition: all ease-in-out 0.3s;

  @apply absolute bottom-0 left-0 w-0 h-[2px] bg-accent rounded-md;
}

.link:hover {
  @apply text-base-content gap-3 before:w-full;
}

.avatar {
  @apply w-full h-full rounded-full;
  object-fit: cover;
  object-position: center;
}

.navLink {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration-line: none !important;
  @apply cursor-pointer flex justify-start py-3 text-base-content;
}

.navLink:hover {
  @apply text-base-content bg-base-200 rounded-md px-4;
}

.sidebar__icon {
  @apply h-12 w-12 cursor-pointer overflow-hidden;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar__icon:hover {
  @apply scale-105 opacity-80;
}

.expand {
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.expand:hover {
  @apply scale-105;
}

.btnx {
  transition: all ease-in-out 0.3s;
  @apply relative flex gap-1.5 
  items-center py-1 text-base-content/60 cursor-pointer
  text-base-content/60;
}
.btnx::before {
  content: "";
  transition: all ease-in-out 0.3s;

  @apply w-8 h-[2px] bg-base-content/60 rounded-md;
}

.btnx:hover {
  @apply text-base-content;
}

.btnx:hover.btnx::before {
  @apply w-16 bg-base-content;
}

.active {
  @apply text-accent;
}

.active::before {
  @apply w-16 bg-accent;
}

.prose p {
  margin: 0.75rem 0;
}

.mail-direct {
  @apply mb-6 w-max relative text-base-content/60 flex cursor-pointer items-center gap-1.5 transition-all duration-150 ease-in-out;
}

.mail-direct::before {
  content: "";
  transition: all ease-in-out 0.3s;

  @apply absolute bottom-0 left-0 w-0 h-[2px] bg-accent rounded-md;
}

.mail-direct:hover {
  @apply text-base-content gap-3 before:w-full;
}

.mobile-nav {
  @apply text-base-content/60 hover:text-base-content/90 font-medium no-underline cursor-pointer;
}

.mobile-nav.active {
  @apply text-accent;
}
